main#app {
  flex: 1;
  padding: 2rem;
  max-width: 960px;
  margin: 0 auto;
  background: white;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  min-height: calc(100vh - 7rem);
}
